.title {
    display: flex;
    align-items: center;
    height: 200px;
    color: white;
    padding: 2% 1% 2% 1%;
    background-color: #084d74;
    gap: 5%;
}
/* Headings for each section */
.sectionHeader {
    display: flex;
    font-weight: 700;
    font-size: 1.5em;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid #31b0ff;
    margin: 0 4% 2%;
    padding: 2% 0.5% 0.5% 0.5%;
}
.titleImage {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    box-shadow: 0px 0px 5px 3px #166897;
    z-index: 1;
}
.titleImage img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    width: 100%;
    z-index: 0;
}
.name {
    font-size: 3em;
    font-weight: 700;
    margin-left: 8%;
    max-width: 50%;
    min-width: 50%;
    position: relative;
    text-align: center;
    word-wrap: break-word;
    /* eventually change to hidden scrolling */
    overflow: hidden;
    max-height: 100%;
}
.clubs {
    display: flex;
    flex-direction: column;
    background-color: #0d4263;
    margin-top: 2%;
}
.clubsList {
    display: flex;
    background-color: #125883;
}
.overview {
    display: flex;
    background-color: #0e6496;
    box-shadow: 0px 3px 3px -1px black inset;
}
.athleteStats {
    display: grid;
    padding: 2% 2% 1.5% 2%;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 14.2%);
    grid-template-columns: auto 60%;
    font-size: 1.1em;
    height: 50%;
    width: 40%;
}
.athletePerformance {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3%;
    padding: 2%;
    width: 65%;
}
.athletePerformance .performance {
    display: flex;
    align-items: center;
    justify-content: right;
    flex-direction: row;
    gap: 5%;
    width: 100%;
    margin-right: 35px;
}
@keyframes popIn {
    0% {
        transform: scale(0%);
    }
    100% {
        transform: scale(100%);
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}
.performance .score {
    animation: 0.7s cubic-bezier(0.42, 0, 0.28, 1.4) 0s 1 popIn;
    font-size: 3.5em;
    font-family: 'Skranji', cursive;
    text-align: right;
    font-weight: 900;
    color: #FCE694;
}
.performance .label {
    animation: 0.7s 0s 1 fadeIn;
    display: block;
    position: relative;
    font-size: 2em;
    font-weight: 700;
}
.athletePerformance .info {
    font-size: 1em;
    text-decoration: 2px underline dotted;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltipInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    visibility: hidden;
    width: 500px;
    background-color: #051723;
    color: #fff;
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    border-radius: 5%;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -250px;

    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.tooltip:hover .tooltipInfo {
    visibility: visible;
    opacity: 1;
}
.term {
    grid-column: 1;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
}
.description {
    grid-column: 0;
    text-align: right;
    line-height: 1.5;
    /* margin-inline-end: 10%; */
}
.topPerformances {
    margin-top: 2%;
    background-color: #0d4263;
}
.performanceTable {
    display: flex;
    padding: 2% 2% 2%;
    justify-content: center;
    border-collapse: collapse;
    background-color: #125883;
}
.performanceTable__shadow {
    padding: 1% 3% 1%;
    box-shadow: 0px 0px 3px 2px #000000;
    background-color: #1770a7;
}
.performanceCell {
    height: 40px;
    border-bottom: 1px solid #6cc0f1;
    padding: 0.5%;
}
.performanceHeaderCell {
    padding: 8px 0px 5px 5px;
    text-align: left;
    border-bottom: 3px solid #fffdc8;
    font-size: 1.2em;
}
.performanceBorder {
    border-collapse: collapse;
}