.titleImage {
    border-radius: 50%;
    z-index: 1;
}
.titleBackground {
    object-fit: cover;
    object-position: 0 0;
    border-radius: 5%;
    z-index: 0;
    opacity: 50%;
}
.clubName {
    display: block;
    /* THIS IS IMPORTANT BECAUSE WHITE SPACE WAS REPLACED WITH PRE */
    white-space: normal;
    word-wrap: break-word;
    min-width: 60%;
    max-width: 60%;
    z-index: 1;
}
.title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-size: 4em;
    border-radius: 5%;
    padding: 2% 1% 2% 1%;
    position: relative;
}
/* .subtitle {
    display: flex;
    width: 28%;
    border-style: solid;
    border-color: #76afcd;
    border-width: 10px;
    margin: -20px 70%;
    flex-direction: row;
    color: white;
    font-size: 2em;
    justify-content: center;
} */
.statText {
    display: grid;
    margin: -2.5% 0% 5% 0%;
    grid-auto-flow: column;
    grid-template-rows: repeat(7, 14%);
    grid-template-columns: 80% 20%;
    font-size: 1.25em;
    height: 50%;
}
.term {
    font-weight: bold;
    grid-column: 1;
    text-align: left;
    line-height: 1.5;
    margin-inline-start: 70%;
}
.description {
    grid-column: 0;
    text-align: right;
    line-height: 1.5;
    margin-inline-end: 10%;
}
.clubName{
    color: white;
}