.titleImage {
    display: block;
    border-radius: 50%;
    max-width: 240px;
    max-height: 240px;
    width: 240px;
    height: 240px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    box-shadow: 0px 0px 5px 3px #166897 inset;
}
.titleImageContainer {
    position: relative;
    height: auto;
    margin-left: 5%;
}
.clubName {
    display: flex;
    flex: none;
    font-size: 3em;
    justify-content: flex-end;
    word-wrap: break-word;
    /* eventually change to hidden scrolling */
    overflow: hidden;
    max-width: 60%;
    min-width: 60%;
    max-height: 100%;
}
.titleBackground {
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5% 5% 0 0;
}
.title {
    display: flex;
    align-items: center;
    position: relative;
    height: min(15em, 300px);
    color: white;
    border-radius: 5% 5% 0 0;
    padding: 2% 1% 2% 1%;
    background-color: rgba(6, 47, 70, 0.5);
    gap: 5%;
}
/* .subtitle {
    display: flex;
    width: 28%;
    border-style: solid;
    border-color: #76afcd;
    border-width: 10px;
    margin: -20px 70%;
    flex-direction: row;
    color: white;
    font-size: 2em;
    justify-content: center;
} */
.statText {
    display: grid;
    padding: 2% 2% 1.5% 2%;
    grid-auto-flow: column;
    grid-template-rows: repeat(8, 12.5%);
    grid-template-columns: 60% auto;
    font-size: 1.25em;
    height: 50%;
}
.statBorder {
    display: block;
    margin: 0 0 0 0;
    padding: 0% 1% 0% 1%;
    background-color: #0a537e;
    box-shadow: 0px 0px 3px 1px black inset;
    position: relative;
    bottom: 19px;
}
.term {
    font-weight: bold;
    grid-column: 1;
    text-align: left;
    line-height: 1.5;
}
.description {
    grid-column: 0;
    text-align: right;
    line-height: 1.5;
    /* margin-inline-end: 10%; */
}
.clubName{
    color: white;
}