.titleImage {
    display: block;
    border-radius: 50%;
    max-width: 240px;
    max-height: 240px;
    width: 240px;
    height: 240px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    box-shadow: 0px 0px 5px 3px #166897 inset;
}
.titleImageContainer {
    position: relative;
    height: auto;
    margin-left: 5%;
}
.clubName {
    display: flex;
    flex: none;
    font-size: 3em;
    justify-content: flex-end;
    word-wrap: break-word;
    /* eventually change to hidden scrolling */
    overflow: hidden;
    max-width: 60%;
    min-width: 60%;
    max-height: 100%;
}
.titleBackground {
    display: block;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    border-radius: 5% 5% 0 0;
}
.title {
    display: flex;
    align-items: center;
    position: relative;
    height: 10%;
    color: white;
    border-radius: 5% 5% 0 0;
    padding: 2% 1% 2% 1%;
    background-color: #062f4680;
    gap: 5%;
}
/* .subtitle {
    display: flex;
    width: 28%;
    border-style: solid;
    border-color: #76afcd;
    border-width: 10px;
    margin: -20px 70%;
    flex-direction: row;
    color: white;
    font-size: 2em;
    justify-content: center;
} */
.statBorder {
    display: flex;
    margin: 0 0 0 0;
    padding: 0% 1% 0% 1%;
    background-color: #0e6496;
    box-shadow: 0px 3px 3px -1px black inset;
    position: relative;
}
.statText {
    display: grid;
    padding: 2% 2% 1.5% 2%;
    grid-auto-flow: column;
    grid-template-rows: repeat(8, 12.5%);
    grid-template-columns: auto 60%;
    font-size: 1.1em;
    height: 50%;
    width: 35%;
    margin-left: auto;
}
.term {
    grid-column: 1;
    font-weight: bold;
    text-align: left;
    line-height: 1.5;
}
.description {
    grid-column: 0;
    text-align: right;
    line-height: 1.5;
    /* margin-inline-end: 10%; */
}
.clubName {
    color: white;
}
.badges {
    background-color: #0d4263;
    padding-top: 1%;
    margin-top: 2%;
}
.badgeTitle {
    display: flex;
    font-weight: 700;
    font-size: 1.5em;
    height: 50px;
    align-items: center;
    border-bottom: 2px solid #31b0ff;
    margin: 0 4% 2%;
    padding: 0.5%;
}
.badgeGroup {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 1fr 1fr;
    gap: 25px 40px;
    padding: 3%;
    background-color: #125883;
    position: relative;
    align-items: center;
}
.badgeGroupLabel {
    display: flex;
    font-weight: 700;
    font-size: 1.5em;
    background-color: #125883;
    align-items: center;
    border-bottom: 2px solid rgb(103, 197, 255);
    padding-bottom: 10px;
}
.distanceBadgeGroup {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 90px);
    gap: 8px 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
}
.elevationBadgeGroup {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(4, 90px);
    gap: 8px 20px;
    position: relative;
    align-items: center;
    justify-content: center;
    align-content: center;
}
@keyframes fadeIn {
    0% {
        opacity: 0%;
        transform: scale(0%);
    }
    100% {
        opacity: 100%;
        transform: scale(100%);
    }
}
.badge {
    animation: 1.5s cubic-bezier(0.42, 0, 0.28, 1.25) 0s 1 fadeIn;
    color: white;
    text-align: center;
    width: 100%;
    height: auto;
}
.tooltipBadge {
    position: relative;
    display: inline-block;
}
.tooltipBadge .tooltipInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    visibility: hidden;
    width: 150px;
    gap: 10px;
    background-color: #051723;
    color: #fff;
    text-align: center;
    border-radius: 5%;
    padding: 5px 10px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -85px;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
    opacity: 0;
    transition: opacity 0.5s;
}
.tooltipBadge:hover .tooltipInfo { 
    visibility: visible;
    opacity: 1;
}
.tooltipInfo__title {
    font-weight: 700;
}
.tooltipInfo__description {
    font-size: 0.8em;
}
.tooltipInfo__requirement {
    font-size: 0.7em;
}