.leftHeader {
    text-align: left;
}
.centerHeader {
    text-align: center;
}
.dateColumn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.date {
    font-size: 1.1em;
    width: 45%;
}
.timeAgo {
    font-size: 0.8em;
    color: #f6e891;
    width: 50%;
}
.title {
    font-size: 1.1em;
}
.performanceColumn {
    text-align: center;
}
.performanceColumn .raw {
    font-size: 1.2em;
    color: #ff8d60;
}
.performanceColumn .weighted {
    font-size: 0.6em;
}
.breakdown {
    display: grid;
    padding: 2% 2% 1.5% 2%;
    grid-auto-flow: row;
    grid-template-rows: repeat(4, 25%);
    grid-template-columns: auto 60%;
    font-size: 1.1em;
    height: 50%;
    width: 40%;
}
