body {
    font-size: 100%;
}
html {
    background: #002234;
}
span {
    white-space: pre;
}
.content {
    background-color: #062f46;
    color: white;
    padding: 1% 3% 1%;
    max-width: 960px;
    margin: 1% auto;
    text-align: center;
}
.loggedin {
    display: flex;
    color: white;
    padding: 1%;
    max-width: 960px;
    margin: 1% auto;
    text-align: center;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0 1%;
}
a:link {
    color: rgb(255, 130, 130);
}
a:visited {
    color: #ffc37a;
}
a:hover {
    color: white;
}
a:active {
    color: aquamarine;
}