.title {
    display: flex;
    align-items: center;
    position: relative;
    height: 200px;
    color: white;
    padding: 2% 1% 2% 1%;
    background-color: #084d74;
    gap: 5%;
}
.titleImage {
    position: relative;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    box-shadow: 0px 0px 5px 3px #166897 inset;
}
.name {
    font-size: 3em;
    font-weight: 700;
    margin-left: 8%;
    max-width: 50%;
    min-width: 50%;
    position: relative;
    text-align: center;
    word-wrap: break-word;
    /* eventually change to hidden scrolling */
    overflow: hidden;
    max-height: 100%;
}
